<?php
class DATABASE_CONFIG {

	public $authbootstrap = array(
		'datasource' => 'Database/Mysql',
		'persistent' => false,
		'host' => 'host',
		'login' => 'login',
		'password' => 'password',
		'database' => 'database',
		//'prefix' => '', // Assim é possivel alterar o prefixo na aplicação
		'encoding' => 'utf8',
	);
}